html {
  box-sizing: border-box;
}
body {
  background: #e96443;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #904e95, #e96443); 
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
span.resultado {
  position: relative;
  width: 100%;
}
.resultado-enter {
  transition: .5s;
}
.resultado-enter.resultado-enter-active{
  transform: translateY(0%);
}
.resultado-exit{
  transform: translateY(0);
  transition: .5s;
  position : absolute;
  left: 0;
  bottom : 0;
  right: 0;
}
.resultado-exit-active{
  opacity: 0;
  transform: translateY(-10%);
}
/******************Header*****************/
.header-container{
    background-color: #26C6DA;
    padding: 10px;
    font-weight: bold;
    color: #FFFFFF;
}
.header-title{
    font-size: 2rem;
    margin:0;
    font-family: 'Slabo 27px', serif;
    text-align: center;
}
/****** Formulario *********/
.campo{
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}
label{
  flex: 0 0 100px;
}
select{
    display: block;
    width: 100%;
    padding: 1rem;
    border: 1px solid #e1e1e1;
    -webkit-appearance: none;
}
.inputRadio{
  margin: 0 1rem;
}
button{
  background-color: #00838F;
    font-size: 16px;
    width: 100%;
    padding: 1rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    transition: background-color .3s ease;
    margin-top: 2rem;
}
button:hover{
    background-color: #26C6DA;
    cursor: pointer;
}
.error{
  background-color: red;
    color: white;
    padding: 1rem;
    width:100%;
    text-align: center;
    margin-bottom: 2rem;
}
/******* App ************************/
.container{
  max-width: 600px;
  margin: 0 auto;
}
.containerForm{
  background-color: #FFF;
  padding: 3rem;
}